<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html">
    <h:head>
        <title>Create a new Book</title>
        <link type="text/css" rel="stylesheet" href="../style.css"/>
        
    </h:head>
    <h:body>
        <div class="header">
            <h1><h:outputText value="Create a new Book"/></h1>
            <br/>
            
        </div>
        <h:form>
            <h:panelGrid columns="2">
                <h:outputLabel value="Title:" for="title" />
                <h:inputText id="title" value="#{book.book.title}" title="Title" />
                <h:outputLabel value="Author:" for="author" />
                <h:inputText id="author" value="#{book.book.author}" title="Author" />
                <h:outputLabel value="Price:" for="price" />
                <h:inputText id="price" value="#{book.book.price}" title="Price" />
                <h:outputLabel value="Description:" for="description" />
                <h:inputTextarea id="description" value="#{book.book.description}" title="Description" />
                <h:outputLabel value="ISBN:" for="isbn" />
                <h:inputText id="isbn" value="#{book.book.isbn}" title="ISBN" />
                <h:outputLabel value="Number of Books:" for="number" />
                <h:inputText id="number" value="#{book.book.count}" title="Number of Books" />
            </h:panelGrid>
            <h:commandLink action="#{book.create()}" value="Create Book" />
            <div class ="footer">
                <h:commandLink action="#{book.prepareList()}" value="The Stock of Books" />
                <h:commandLink action="#{book.mainPage()}" value="Main Page"/>
            </div>
<cr>COIT20227: Enterprise Computing. Student ID: s0217325</cr>
          
        </h:form>
    </h:body>
</html>

