<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsf/core"
      >
    <h:head>
        <title>The Found Books</title>
        <link type="text/css" rel="stylesheet" href="../style.css"/>
    </h:head>
    <h:body>
        <div class="header">
            <h1><h:outputText value="The Found Books"/></h1>
            <br/>
             </div>
        <c:view>
            <h:form>
                <h:dataTable value="#{book.foundbooks}" var="item" styleClass="table"
                             headerClass="table-header"
                             rowClasses="table-odd-row,table-even-row">
                    <h:column>
                        <c:facet name="header">
                            <h:outputText value="Isbn"/>
                        </c:facet>
                        <h:outputText value="#{item.isbn}"/>
                    </h:column>
                    <h:column>
                        <c:facet name="header">
                            <h:outputText value="Title"/>
                        </c:facet>
                        <h:outputText value="#{item.title}"/>
                    </h:column>
                    <h:column>
                        <c:facet name="header">
                            <h:outputText value="Author"/>
                        </c:facet>
                        <h:outputText value="#{item.author}"/>
                    </h:column>
                    <h:column>
                        <c:facet name="header">
                            <h:outputText value="Price"/>
                        </c:facet>
                        <h:outputText value="#{item.price}"/>
                    </h:column>
                    <h:column class="description">
                        <c:facet name="header">
                            <h:outputText value="Description"/>
                        </c:facet>
                        <h:outputText value="#{item.description}"/>
                    </h:column>
                    <h:column>
                        <c:facet name="header">
                            <h:outputText value="Count"/>
                        </c:facet>
                        <h:outputText value="#{item.count}"/>
                    </h:column>
                </h:dataTable>
                <p>Total: #{book.foundbooks.size()}</p>
                <div class="footer">
                    <h:commandLink action="#{book.prepareCreate}" value="Create a new Book"/>
                    <h:commandLink action="#{book.mainPage()}" value="Main Page"/>
                </div>
            <cr>COIT20227: Enterprise Computing. Student ID: s0217325</cr>
      
            </h:form>
        </c:view>
    </h:body>
</html>

