<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsf/core"
      >
    <h:head>
        <title>The Found Customers</title>
        <link type="text/css" rel="stylesheet" href="../style.css"/>
    </h:head>
    <h:body>
        <div class="header">
            <h1><h:outputText value="The Found Customers"/></h1>
            <br/>
           </div>
        <c:view>
            <h:form>
                <h:dataTable value="#{customer.foundcustomers}" var="item" styleClass="table"
                             headerClass="table-header"
                             rowClasses="table-odd-row,table-even-row">
                    <h:column>
                        <c:facet name="header">
                            <h:outputText value="Name"/>
                        </c:facet>
                        <h:outputText value="#{item.name}"/>
                    </h:column>
                    <h:column>
                        <c:facet name="header">
                            <h:outputText value="Address"/>
                        </c:facet>
                        <h:outputText value="#{item.address}"/>
                    </h:column>
                    <h:column>
                        <c:facet name="header">
                            <h:outputText value="Orders"/>
                        </c:facet>
                        <h:outputText value="#{item.orders.size()}"/>
                    </h:column>
                    <h:column>
                        <c:facet name="header">
                            <h:outputText value="Action"/>
                        </c:facet>
                        <h:commandLink action="#{customer.prepareView(item)}" value="View Details"/>
                    </h:column>
                </h:dataTable>
                <p>Total: #{customer.foundcustomers.size()}</p>
                <div class="footer">
                    <h:commandLink action="#{customer.prepareCreate}" value="Create a new Customer"/>
                    <h:commandLink action="#{customer.mainPage()}" value="Main Page"/>
                </div>
                 <cr>COIT20227: Enterprise Computing. Student ID: s0217325</cr>
                  </h:form>
        </c:view>
    </h:body>
</html>

