<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsf/core">
    <h:head>
        <title>Customer: #{customer.customer.name}</title>
        <link type="text/css" rel="stylesheet" href="../style.css" />
    </h:head>
    <h:body>
        <div class="header">
            <h1><h:outputText value="Customer: #{customer.customer.name}"/></h1>
            <br/>
             </div>
        <h:form>
            <h2><h:outputText value="Details"/></h2>
            <h:panelGrid columns="2">
                <h:outputText value="Name:" /> 
                <h:outputText value="#{customer.customer.name}" title="Name"/>
                <h:outputText value="Phone:"/>
                <h:outputText value="#{customer.customer.phone}" title="Phone"/>
                <h:outputText value="Email:"/>
                <h:outputText value="#{customer.customer.email}" title="Email"/>
                <h:outputText value="Address:"/>
                <h:outputText value="#{customer.customer.address}" title="Address"/>
            </h:panelGrid>
            <h2><h:outputText value="Orders(#{customer.customer.orders.size()})"/></h2>
            <h:dataTable value="#{customer.customer.orders}" var="item" styleClass="table"
                             headerClass="table-header"
                             rowClasses="table-odd-row,table-even-row">
                <h:column>
                    <c:facet name="header">
                        <h:outputText value="Id"/>
                    </c:facet>
                    <h:outputText value="#{item.id}"/>
                </h:column>
                <h:column>
                    <c:facet name="header">
                        <h:outputText value="Time Created"/>
                    </c:facet>
                    <h:outputText value="#{item.datetime}"/>
                </h:column>
                <h:column>
                    <c:facet name="header">
                        <h:outputText value="Item"/>
                    </c:facet>
                    <h:outputText value="#{item.product.title}"/>
                </h:column>
                <h:column>
                    <c:facet name="header">
                        <h:outputText value="Unit Price"/>
                    </c:facet>
                    <h:outputText value="$ #{item.product.price}"/>
                </h:column>
                <h:column>
                    <c:facet name="header">
                        <h:outputText value="Count"/>
                    </c:facet>
                    <h:outputText value="#{item.count}"/>
                </h:column>
                <h:column>
                    <c:facet name="header">
                        <h:outputText value="Total Price"/>
                    </c:facet>
                    <h:outputText value="$ #{customer.totalPrice(item)}"/>
                </h:column>
            </h:dataTable>
            <div class="footer">
                <h:commandLink action="#{customer.prepareList()}" value="Customer List" />
                <h:commandLink action="#{order.orderPage()}" value="Order List" />
                <h:commandLink action="#{customer.mainPage()}" value="Main Page"/>
            </div>
             <cr>COIT20227: Enterprise Computing. Student ID: s0217325</cr>
              </h:form>
    </h:body>
</html>

