<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html">
    <h:head>
        <title>Create a new CD</title>
        <link type="text/css" rel="stylesheet" href="../style.css"/>
    </h:head>
    <h:body>
        <div class="header">
            <h1><h:outputText value="Create a new CD"/></h1>
            <br/>
           </div>
        <h:form>
            <h:panelGrid columns="2">
                <h:outputLabel value="Title:" for="title" />
                <h:inputText id="title" value="#{cd.CD.title}" title="Title" />
                <h:outputLabel value="Singer:" for="singer" />
                <h:inputText id="singer" value="#{cd.CD.singer}" title="Singer" />
                <h:outputLabel value="Price:" for="price" />
                <h:inputText id="price" value="#{cd.CD.price}" title="Price" />
                <h:outputLabel value="Description:" for="description" />
                <h:inputTextarea id="description" value="#{cd.CD.description}" title="Description" />
                <h:outputLabel value="Genre:" for="genre" />
                <h:inputText id="genre" value="#{cd.CD.genre}" title="Genre" />
                <h:outputLabel value="Number of CDs:" for="number" />
                <h:inputText id="number" value="#{cd.CD.count}" title="Number of Books" />
            </h:panelGrid>
            <h:commandLink action="#{cd.create()}" value="Create CD" />
            <div class="footer">
                <h:commandLink action="#{cd.prepareList()}" value="The Stock of CDs" />
                <h:commandLink action="#{cd.mainPage()}" value="Main Page"/>
            </div>
             <cr>COIT20227: Enterprise Computing. Student ID: s0217325</cr>
      
        </h:form>
    </h:body>
</html>

