
root { 
    display: block;
}
body {
    background-color: cyan;
}
.header h1 {
    color:  yellow;
    font-size: large;
}
.header cr {
    color: yellowgreen;
    font-size: medium;
}
.header {
    width: 100%;
    padding: 6px;
    background-color: rgba(100,0,150,2);
    margin-bottom: 14px;
}
.footer {
    margin-top: 14px;
    width: 100%;
    border-top:3px solid #BBBAAA;
}

.footer a{
    margin-right:8px;
}

.table{   
	border-collapse:collapse;
        width: 100%;
}

.table tr{
    height: 18px;
} 

.table-header{
	text-align:center;
	background:none repeat scroll 0 0 #E5E555;
	border-bottom:2px solid #BBBAAA;
	padding:6px;
}

.table-odd-row{
	text-align:center;
	border-top:2px solid #BBBAAA;
}
 
.table-even-row{
	text-align:center;
        background:none repeat scroll 0 0 #FFF333;
	border-top:3px solid #BBBAAA;
}