<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>Create a new Order</title>
        <link type="text/css" rel="stylesheet" href="../style.css" />
    </h:head>
    <h:body>
        <div class="header">
            <h1><h:outputText value="Create a new Order"/></h1>
            <br/>
            </div>
        <f:view>
            <h:form>
                <h:messages style="color:red;margin:8px;" />
                <h:panelGrid columns="2">
                    <h:outputLabel value="Product:" for="product" />
                    <h:selectOneMenu id="product" value="#{order.productId}" title="Product" >
                        <f:selectItems value="#{product.products}" var="_product" itemValue="#{_product.id}" itemLabel="#{_product.title}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="Count:" for="count" />
                    <h:inputText id="count" value="#{order.order.count}" title="Count" />
                    <h:outputLabel value="Customer:" for="customer" />
                    <h:selectOneMenu id="customer" value="#{order.customerId}" title="Customer">
                        <f:selectItems value="#{customer.customers}" var="_customer" itemValue="#{_customer.id}" itemLabel="#{_customer.name}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <h:commandLink action="#{order.create()}" value="Create Order" />
                <div class="footer">
                    <h:commandLink action="#{order.prepareList()}" value="Order List" />
                    <h:commandLink action="#{order.mainPage()}" value="Main Page"/>
                </div>
                 <cr>COIT20227: Enterprise Computing. Student ID: s0217325</cr>
                  </h:form>
        </f:view>
    </h:body>
</html>

