<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsf/core">
    <h:head>
        <title>The Found Orders</title>
        <link type="text/css" rel="stylesheet" href="../style.css" />
    </h:head>
    <h:body>
        <div class="header">
            <h1><h:outputText value="The Found Orders"/></h1>
            <br/>
             </div>
        <c:view>
            <h:form>
                <h:dataTable value="#{order.foundorders}" var="item" styleClass="table"
                             headerClass="table-header"
                             rowClasses="table-odd-row,table-even-row">
                    <h:column>
                        <c:facet name="header">
                            <h:outputText value="Id"/>
                        </c:facet>
                        <h:outputText value="#{item.id}"/>
                    </h:column>
                    <h:column>
                        <c:facet name="header">
                            <h:outputText value="Customer"/>
                        </c:facet>
                        <h:commandLink action="#{customer.prepareViewFromOrderPage(item.customer)}" value="#{item.customer.name}"/>
                    </h:column>
                    <h:column>
                        <c:facet name="header">
                            <h:outputText value="Item"/>
                        </c:facet>
                        <h:commandLink rendered="#{item.product.type eq 'Book'}" action="#{book.prepareViewFromOrderPage(item.product)}" value="#{item.product.title}"/>
                        <h:commandLink rendered="#{item.product.type eq 'CD'}" action="#{cd.prepareViewFromOrderPage(item.product)}" value="#{item.product.title}"/>
                    </h:column>
                    <h:column>
                        <c:facet name="header">
                            <h:outputText value="Created at"/>
                        </c:facet>
                        <h:outputText value="#{item.datetime}"/>
                    </h:column>
                    <h:column>
                        <c:facet name="header">
                            <h:outputText value="Unit Price"/>
                        </c:facet>
                        <h:outputText value="$ #{item.datetime}"/>
                    </h:column>
                    <h:column>
                        <c:facet name="header">
                            <h:outputText value="Count"/>
                        </c:facet>
                        <h:outputText value="#{item.count}"/>
                    </h:column>
                    <h:column>
                        <c:facet name="header">
                            <h:outputText value="Total Price"/>
                        </c:facet>
                        <h:outputText value="#{order.totalPrice(item)}"/>
                    </h:column>
                    <h:column>
                        <c:facet name="header">
                            <h:outputText value="Actions"/>
                        </c:facet>
                        <h:commandLink action="#{order.delete(item)}" value="Delete"/>
                    </h:column>
                </h:dataTable>
                <p>Total: #{order.foundorders.size()}</p>
                <div class="footer">
                    <h:commandLink action="#{order.prepareCreate}" value="Create a new Order"/>
                    <h:commandLink action="#{order.mainPage()}" value="Main Page"/>
                </div>
                 <cr>COIT20227: Enterprise Computing. Student ID: s0217325</cr>
                  </h:form>
        </c:view>
    </h:body>
</html>

