<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>Search for a Order</title>
        <link type="text/css" rel="stylesheet" href="../style.css" />
    </h:head>
    <h:body>
        <div class="header">
            <h1><h:outputText value="Search for a Order"/></h1>
            <br/>
           </div>
        <h:form>
            <h:panelGrid columns="2">
                <h:outputLabel value="Id:" for="id" />
                <h:inputText id="id" value="#{order.searchId}" title="Id" />
            </h:panelGrid>
            <h:commandLink action="#{order.prepareSearch()}" value="Search for a Order" />
            <div class="footer">
                <h:commandLink action="#{order.prepareList()}" value="Order List" />
                <h:commandLink action="#{order.mainPage()}" value="Main Page"/>
            </div>
             <cr>COIT20227: Enterprise Computing. Student ID: s0217325</cr>
              </h:form>
    </h:body>
</html>

